body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  font-family: "Open Sans", sans-serif;
}

table {
  border-collapse: collapse;
}

td {
  width: 80px;
  height: 80px;
  border: none;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  font-weight: bold;
  text-transform: lowercase;
  color: #ffffff;
}

tr:not(:last-child) td {
  border-bottom: 5px solid #ffffff;
}

td:not(:last-child) {
  border-right: 5px solid #ffffff;
}
